.app {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh; 
    padding: 50px;
  }
  
  .open-modal {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  